{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": false,
                "corejs": 3
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-object-assign",
        "@babel/plugin-external-helpers"
    ]
}