{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-object-assign",
        "@babel/plugin-transform-runtime"
    ]
}