@keyframes data-motion-fade-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes data-motion-fade-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
}
