$motion-distance: 10px !default;

// Only when on screen, not in screen reader etc...
@media screen {
    // hovers, focus, etc disabled when animating or hidden.
    [data-motion] {
        pointer-events: none;
        &.data-motion-animate {
            pointer-events: auto;
        }
    }

    // all elements that contain data-motion="fade..."
    // hide when init, show when class motion-animate is added
    [data-motion^="fade"][data-motion^="fade"] {
        opacity: 0;
        transition-property: opacity, transform;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

        &.data-motion-animate {
            opacity: 1;
            transform: none;
        }
    }

    // fade-up
    // transform for FLIP, animation for animation
    [data-motion="fade-up"] {
        transform: translate3d(0, $motion-distance, 0);
        &.data-motion-animate {
            animation: data-motion-fade-up 0.5s ease;
        }
    }

    // fade-down
    // transform for FLIP, animation for animation
    [data-motion="fade-down"] {
        transform: translate3d(0, -$motion-distance, 0);
        &.data-motion-animate {
            animation: data-motion-fade-down 0.5s ease;
        }
    }


    // Generate Duration && Delay
    [data-motion] {
        @for $i from 1 through 60 {
            [data-motion-duration="#{$i * 50}"] &,
            &[data-motion][data-motion-duration="#{$i * 50}"] {
                transition-duration: #{$i * 50}ms;
                animation-duration: #{$i * 50}ms;
            }

            [data-motion-delay="#{$i * 50}"] &,
            &[data-motion][data-motion-delay="#{$i * 50}"] {
                transition-delay: 0s;
                animation-delay: 0s;

                &.data-motion-animate {
                    transition-delay: #{$i * 50}ms;
                    animation-delay: #{$i * 50}ms;
                }
            }
        }
    }
}